.pokemon {
  text-align: center;
  display: inline-block;
  background-color: lightgray;
  margin: 16px 24px;
  border-radius: 10px;
  width: 12rem;
  padding: 16px 0;
}

.pokemon > p {
  margin: 0;
}

.pokemon > b {
  color: blue;
}

.pokemon > img {
  width: 10rem;
}

h1 {
  text-align: center;
  color: lightgray;
}